*{
margin: 0;
padding: 0;
}
.formulario{
	min-width: 400px;
	flex: 1;
	text-align: center;
}

.cajaForm{
	margin: 20px 0px;
}

.inputForm{
	width: 35%;
	padding: 10px;
  background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #dc3545;

}
.inputForm:hover{
outline: none;
border-bottom: 3px solid #dc3545;
}

.botonLogin{
	padding: 15px 20px;
	background: #dc3545;
	color: white;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
.back{
	text-decoration: none;
	padding: 15px 20px;
	background: #007bff;
	color: white;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
.registro{
	text-decoration: none;
	padding: 15px 20px;
	background: #198754;
	color: white;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
.cajaInformativa{
		display: inline-block;
		margin: 15px;
}
#errorContainer {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: red;
    padding: 20px;
    width: 250px;
}
.contImagen{
	flex: 1;
}

@media (max-width: 600px) {
    /* Estilos para pantallas pequeñas (teléfonos) */
    .contImagen{
    	display: none;
    }
}